Adding elements
    1 . append() -> add one element to the end of the list
    2 . insert() -> add one element to a specific position
    3 . extend() -> append multiple items in a list

Removing elements
    1.remove() -> remove the first occurence of a value
    2.pop() -> remove and return an element from an index
    3.clear() -> remove all elements from the list

In [1]:
movies = ['Arya','Joe','RRR','OG','Rabasa','KGF','Happy','Dhee','Billa','Darling','Mr.perfect','Sahoo']
print("size of movies list",len(movies))

size of movies list 12

In [ ]:
#remove()
movies.remove("KGF")
print(movies)

['Arya', 'Joe', 'RRR', 'OG', 'Rabasa', 'Happy', 'Dhee', 'Billa', 'Darling', 'Mr.perfect', 'Sahoo']

In [ ]:
#validation based removal
if "Joe" in movies:
    movies.remove("Joe")
print(movies)

['Arya', 'RRR', 'OG', 'Rabasa', 'Happy', 'Dhee', 'Billa', 'Darling', 'Mr.perfect', 'Sahoo']

In [ ]:
#pop()
movies.pop(3)

'Rabasa'

In [6]:
print(movies)
print(len(movies))

['Arya', 'RRR', 'OG', 'Happy', 'Dhee', 'Billa', 'Darling', 'Mr.perfect', 'Sahoo']
9

In [7]:
#pop() without any index will remove the list 
movies.pop()

'Sahoo'

In [9]:
languages = ['c','Python','Kotlin','Java','Dart','Go','C++','C#','Html','Java script','Scale','Rust','Mojo','Assembly']
numbers = [12,56,23,67,13,23,12,56,23,56,12,34,23,23,12,34,34,23,53,92]
data = [1, 'apple', 2, 'Avacado', 3, 'Apricot']

In [10]:
numbers.count(12)  # counts how many time 12 occurs in list

4

In [11]:
print(numbers.count(1))
print(numbers.count(23))
print(numbers.count(56))

0
6
3

In [15]:
languages.index('C#')   # 7th index in my list

7

In [17]:
print(languages.index("c"))
print(languages.index("Java"))
print(languages.index("Python"))
#print(languages.index(Lisp))

0
3
1

In [18]:
print("original", languages)
languages.sort()
print("sorted", languages)
languages.sort(reverse=True)
print("Sorted in reverse ",languages)

original ['c', 'Python', 'Kotlin', 'Java', 'Dart', 'Go', 'C++', 'C#', 'Html', 'Java script', 'Scale', 'Rust', 'Mojo', 'Assembly']
sorted ['Assembly', 'C#', 'C++', 'Dart', 'Go', 'Html', 'Java', 'Java script', 'Kotlin', 'Mojo', 'Python', 'Rust', 'Scale', 'c']
Sorted in reverse  ['c', 'Scale', 'Rust', 'Python', 'Mojo', 'Kotlin', 'Java script', 'Java', 'Html', 'Go', 'Dart', 'C++', 'C#', 'Assembly']

In [ ]:
print("original",data)
data.reverse()  #reversed the list
print("Reversed",data)

original [1, 'apple', 2, 'Avacado', 3, 'Apricot']
Reversed ['Apricot', 3, 'Avacado', 2, 'apple', 1]

In [2]:
x = [1,2,3,4]
y = x #deep copy
z = x.copy()
print(x, y, z, sep='/n')
x.append(10)
y.pop()
z.append(10)
z.append(20)
print(x,y,z, sep='/n')

[1, 2, 3, 4]/n[1, 2, 3, 4]/n[1, 2, 3, 4]
[1, 2, 3, 4]/n[1, 2, 3, 4]/n[1, 2, 3, 4, 10, 20]

In [2]:
fruits = ["Mango","Apple","Banana","Orange","Grapes","Custardapple","Pineapple","Dragonfruit","Watermelon"]
series = ["Money heist","Game of throns","Mirzapur","Squid game","Indoor Ishaq","Breaking bad","Stranger things","Wednesday","Wednesday 2","Vampire diaries","House of the dragons"]
vegetables = ["Tomato","Brinjal","Carrot","raddish","Beetroot","Beans","Ladiesfinger","Onion","Chilli","Drumstick"]
biglist = fruits+vegetables+series

NESTED LIST : 
 list within a list

In [3]:
x = []
x2 = [[]]
print(x)
print(x2)

[]
[[]]

In [4]:
x.append(1)
x.append(2)
x.append(3)
print(x)

[1, 2, 3]

In [5]:
x2.append(1)
x2.append([1,2,3])
x2.append([4,5,6])
print(x2)

[[], 1, [1, 2, 3], [4, 5, 6]]

In [8]:
items = [
    ['Green','Black','yellow'],
    ['Apple','Gauva','Blueberry'],
    [150,100,300]
]
print(items)
print("Size of the list", len(items))
print("Size of the list at index 0 is", len (items[0]),"=>", items[0])
print("Size of the list at index 1 is", len (items[1]),"=>", items[1])
print("Size of the list at index 2 is", len(items[2]), "=>", items[2])
print("Element 0 as list 0 is ", items [0] [1])
print("Element 2 as list 0 is ", items[0][2])
print("Element 0 as list 1 is ", items[1][0])
print("Element 1 as list 1 is ", items[1][1])

[['Green', 'Black', 'yellow'], ['Apple', 'Gauva', 'Blueberry'], [150, 100, 300]]
Size of the list 3
Size of the list at index 0 is 3 => ['Green', 'Black', 'yellow']
Size of the list at index 1 is 3 => ['Apple', 'Gauva', 'Blueberry']
Size of the list at index 2 is 3 => [150, 100, 300]
Element 0 as list 0 is  Black
Element 2 as list 0 is  yellow
Element 0 as list 1 is  Apple
Element 1 as list 1 is  Gauva

Matrix means combination of rows and columns

In [10]:
matrix = [
    [12,23,45,25],
    [85,95,25,15],
    [30,32,35,5]
]
print(matrix)

[[12, 23, 45, 25], [85, 95, 25, 15], [30, 32, 35, 5]]

In [12]:
#not good 
print(matrix[0])
print(matrix[1])
print(matrix[2])

[12, 23, 45, 25]
[85, 95, 25, 15]
[30, 32, 35, 5]

In [ ]:
#good
for row in matrix:
    print(row)

[12, 23, 45, 25]
[85, 95, 25, 15]
[30, 32, 35, 5]

In [13]:
# nested loop for nested list
for row in matrix:
    for val in row:
        print(val,end=' ')

12 23 45 25 85 95 25 15 30 32 35 5

In [15]:
# nested loop for nested list
for row in matrix:
    for val in row:
        print(val, end= ' ')
    print()  # change line after each row

12 23 45 25
85 95 25 15
30 32 35 5

# wap to printg the sum of all the value in matrix

In [ ]:
total = 0
for row in matrix:
    for val in row:
        total +=  val 
print(total)

427

#wap to print the product of all the values in matrix

In [18]:
total = 1
for row in matrix:
    for val in row:
        total *=  val 
print(total)

157959112500000000

In [ ]:
#Wap to print row wise sum of matrix
for row in matrix:
    total = 0
    for value in row:
        total += value
    print(row,'=>', total)

[12, 23, 45, 25] => 105
[85, 95, 25, 15] => 220
[30, 32, 35, 5] => 102

In [24]:
#wap to print row wise average of the values
for row in matrix:
    total = 0
    for value in row:
        total += value
    avg = round(total/len(row),1)
    print(row ,'=>', avg)

[12, 23, 45, 25] => 26.2
[85, 95, 25, 15] => 55.0
[30, 32, 35, 5] => 25.5

In [28]:
#wap to print row wise column of the values
size = len(matrix[0])
for c in range(size):
    total = 0
    for r in range(len(matrix)):
        total += matrix[r][c]
    print(f"column {c} => {total}")

column 0 => 127
column 1 => 150
column 2 => 105
column 3 => 45

In [ ]:
#wap to print column wise average values
size = len(matrix [0])
for c in range(size):
    total = 0
    for r in range(len(matrix)):
        total += matrix[r][c]
    print(f"column {c} => {total/4}")

column 0 => 31.75
column 1 => 37.5
column 2 => 26.25
column 3 => 11.25

In [31]:
# wap to print the lower bound triangle of a matrix
mat2 = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16],
]
for r in range(len(mat2)):
    for c in range(len(mat2[0])):
        if (c <= r):
            print(mat2[r][c], end= " ")
    print()

1
5 6
9 10 11
13 14 15 16

In [3]:
name = "vijay deenanth chavhan"
name [:5]

'vijay'

In [4]:
name[6:15]

'deenanth '

In [5]:
name[-7:-1]

'chavha'

In [6]:
x=[1,2,3,4,6,7,9,11,13]
for item in x[::-1]:
    print(item)

13
11
9
7
6
4
3
2
1

In [ ]:

# Reverse a list in place
a=[1,2,3]
a[:]    #get all element
a[:]=a[::1]

In [8]:
x=[1,2,3,4,5]
ans=x[2:]+x[:2]
print(x,ans)

[1, 2, 3, 4, 5] [3, 4, 5, 1, 2]

COMPREHENSION

Syntax 

simple
   newlist = [operation forloop]

example
 x2 =[1**2 for i in x]
 y3 =[a**3 for a in y]

Condition based 
      newlist = operation loop condition
example
    xeven = [i for i in x if i%2==0]
    songs = [file for file in data if file.endswith('.mp3) ]

In [15]:
x=[1,3,4,5]
x2=[]
for i in x:
    s=i*2
    x2.append(s)
print(x,x2)

[1, 3, 4, 5] [2, 6, 8, 10]

In [16]:
x=[4,8,12,16]
x3=[]
for i in x:
    x3.append(i//2)
print(x,x3)

[4, 8, 12, 16] [2, 4, 6, 8]

In [18]:
x=[1,2,3]
y=[4,5,6]
xy=[]
for i,j in zip(x,y):
    xy.append(i+j)
print(x,y,xy,sep="\n")

[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [20]:
z=[2,3,4]
zsqr=[]
for i in z:
    zsqr.append(i**2)

In [21]:
y=[1,2,3]
y2=[i*2 for i in y]

Mapping
     apply operation on data

FILTERING
     apply filter on data

In [4]:
movies = ['Arya','Joe','RRR','OG','Rabasa','KGF','Happy','Dhee','Billa','Darling','Mr.perfect','Sahoo','Vikram','Varisu','Thunivu']
movielen=[]
for movie in movies:
    size  = len(movie)
    movielen.append(size)
print(movies)
print(movielen)

['Arya', 'Joe', 'RRR', 'OG', 'Rabasa', 'KGF', 'Happy', 'Dhee', 'Billa', 'Darling', 'Mr.perfect', 'Sahoo', 'Vikram', 'Varisu', 'Thunivu']
[4, 3, 3, 2, 6, 3, 5, 4, 5, 7, 10, 5, 6, 6, 7]

In [5]:
movielen = [len(movie) for movie in movies]
print(movies)
print(movielen)

['Arya', 'Joe', 'RRR', 'OG', 'Rabasa', 'KGF', 'Happy', 'Dhee', 'Billa', 'Darling', 'Mr.perfect', 'Sahoo', 'Vikram', 'Varisu', 'Thunivu']
[4, 3, 3, 2, 6, 3, 5, 4, 5, 7, 10, 5, 6, 6, 7]

Dictionary

2 ways to store data in python

   1.List -> indexed
   2.Dictionary -> key value pair

In [2]:
# creating a dictionary
d = {} #empty dict
print(d)
print(type(d))

d2 = dict() #empty dict
print(d2)
print(type(d2))

{}
<class 'dict'>
{}
<class 'dict'>

In [4]:
d3 = {
    'color' : 'Orange',
    'shape' : 'Circle',
    'size' : '2 meter',
    'meterial' : 'Plastic'
}
print(d3)

{'color': 'Orange', 'shape': 'Circle', 'size': '2 meter', 'meterial': 'Plastic'}

In [3]:
info = {
    'fact' : 'All keys in a dictionary should be unique',
    'fact2' : 'Keys are immutable so only string and tuples are allowed as keys',
    'fact3' : 'Value of a key can be of any type -> str,number,list,dict'
}
print(info)

{'fact': 'All keys in a dictionary should be unique', 'fact2': 'Keys are immutable so only string and tuples are allowed as keys', 'fact3': 'Value of a key can be of any type -> str,number,list,dict'}

In [13]:
product ={
    'name' : 'Mobile',
    'price' : 79999,
    'features' : {'camera':'48mp','os' :18,'Ram' :'8 gb'},
    'brand' : 'Apple',
    'model' : 'Iphone 18',
    'popular' : True,
    'value for money' : False,
    'colors' : ['Orange','Black','Blue','White']
    }
print(product)

{'name': 'Mobile', 'price': 79999, 'features': {'camera': '48mp', 'os': 18, 'Ram': '8 gb'}, 'brand': 'Apple', 'model': 'Iphone 18', 'popular': True, 'value for money': False, 'colors': ['Orange', 'Black', 'Blue', 'White']}

getting data from dictionary

In [14]:
product['price']

79999

In [15]:
product['features']

{'camera': '48mp', 'os': 18, 'Ram': '8 gb'}

In [16]:
product.values()

dict_values(['Mobile', 79999, {'camera': '48mp', 'os': 18, 'Ram': '8 gb'}, 'Apple', 'Iphone 18', True, False, ['Orange', 'Black', 'Blue', 'White']])

In [17]:
product.keys()

dict_keys(['name', 'price', 'features', 'brand', 'model', 'popular', 'value for money', 'colors'])

In [18]:
product.items()

dict_items([('name', 'Mobile'), ('price', 79999), ('features', {'camera': '48mp', 'os': 18, 'Ram': '8 gb'}), ('brand', 'Apple'), ('model', 'Iphone 18'), ('popular', True), ('value for money', False), ('colors', ['Orange', 'Black', 'Blue', 'White'])])

In [19]:
print(product.get('model'))
print(product.get('features'))
print(product.get('price'))
print(product.get('discount'))  #this is not in the dict error will not come
print(product.get('brand'))

Iphone 18
{'camera': '48mp', 'os': 18, 'Ram': '8 gb'}
79999
None
Apple

In [20]:
#adding data into dictionary
d['name']="William Shakespeare"
print(d)
d['books']=['Julias Ceaser','Merchant of venice']
print(d)
d['born']="April 1564"
d['died']="April 1616"
d['overview']='''A english playwright, poet and actor.
"Regarded as the greatest writer in english.'''
print(d)

{'name': 'William Shakespeare'}
{'name': 'William Shakespeare', 'books': ['Julias Ceaser', 'Merchant of venice']}
{'name': 'William Shakespeare', 'books': ['Julias Ceaser', 'Merchant of venice'], 'born': 'April 1564', 'died': 'April 1616', 'overview': 'A english playwright, poet and actor.\n"Regarded as the greatest writer in english.'}

In [22]:
contacts={
    'emergency':108
}
print("contact book")
while True:
    print("search contact")
    name = input("Name 👉 ")
    if name in contacts:
        print("🔎 contact found")
        print(name,'👈',contacts.get(name))
    else:
        print("💀 contact not found")
        ch = input("Do you want to add it?.Y/n: ")
        if ch =='Y':
            num =input(f"enter {name}'s number: ")
            contacts[name] = num
            print("✅ success! contact added")
        else:
            print("okay ☹️")
    quit = input("Do you want to continue? Y/n")
    if quit != 'Y' or quit !='y':
        print("👋 Bye")
        break

contact book
search contact
💀 contact not found
okay ☹️
👋 Bye