In [ ]:
name = input()

In [ ]:
name = input("Enter your name: ")
city = input("enter course name")
addr = input("enter roll number")
print(name)

jyoshna

In [2]:
a = input("enter a value")
b = input("enter b value")
c=a+b
print(a,b,c)

20 10 2010

In [3]:
radius = float(input("enter radius of circle"))
diameter = radius * 4
circumference = 2 * 3.14 * radius
area = 3.14 * radius ** 2
print(radius)
print(diameter)
print(circumference)
print(area)

40.0
160.0
251.20000000000002
5024.0

In [5]:
p = int(input("enter the p value"))
r = float(input("enter the r value"))
t = int(input("enter the t value"))
si = p*r*t/100
print(p)
print(r)
print(t)
print(si)

1
2.0
3
0.06

In [6]:
pi = 3.14
r = float(input("enter r value"))
h = float(input("enter h value"))
v = pi * r**2 * h
print(v)

6.28

In [10]:
print(2,8,9,8,5)
print(1,2,3,4,5,sep="")
print(3,6,8,5,sep='➡️')
print(1,2,3,4,5,sep= "/n")
print(1,2,3,4,5, sep="hello world")

2 8 9 8 5
12345
3➡️6➡️8➡️5
1/n2/n3/n4/n5
1hello world2hello world3hello world4hello world5

In [ ]:
a = 94
b = 73
c= a

In [8]:
# factorial
num = 10
fact = 1
# you can use a backward or forward loop
for i in range(num,0,-1):
    print (f'{i} * {fact}')
    fact=fact * i
print(fact)

10 * 1
9 * 10
8 * 90
7 * 720
6 * 5040
5 * 30240
4 * 151200
3 * 604800
2 * 1814400
1 * 3628800
3628800

In [6]:
n - 6
for i in range(1,n):
    for j in range(1,n):
        print(j,end='')
    print()

12345
12345
12345
12345
12345

In [5]:
n = 6
for i in range(1,n):
    for j in range(1,n):
      print(i, end=' ')

1 1 1 1 1 2 2 2 2 2 3 3 3 3 3 4 4 4 4 4 5 5 5 5 5

for loop is a step based

In [2]:
#skip every value divisible by 3
for i in range(1,25):
    if i % 3 == 0:
        continue
    print(i, end =' ')

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23

In [1]:
data = [1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i == 0:
        continue
    print(i, end = ' ')

1 2 3 3 1 2 5 6 7 2 2 1

In [3]:
for i in range(1,11):
    if i == 8:
        break
    print(i, end = ' ')

1 2 3 4 5 6 7

In [16]:
#add all values entered by user till he types 0
total=0
print("enter 0 to stop the loop")
for i in range(100):
    value = int(input("enter a number"))
    if value == 0:
        break
    total += value  # add the value to total
    print(f"total ={total}")

enter 0 to stop the loop
total =908
total =986
total =1664
total =2342

In [2]:
#for else
nums=[2,5,8,11,15]
for n in nums:
    print(n)
print("loop completed")

2
5
8
11
15
loop completed

In [3]:
nums=[2,5,8,11,18]
for n in nums:
    if n>10:
        break
    print(n)
print("loop completed")

2
5
8
loop completed

In [7]:
value = int(input("enter breakpoints"))
nums=[1,2,3,4,5,6,11,15,20,25]
for n in nums:
    if value>n:
        print("loop broken")
        break
else:
    print("loop completed")

loop broken

In [16]:
num = int(input("enter a number"))
for n in range(2,num):
    if num % n == 0:
        print(f"{num} not a prime number")
        break

6 not a prime number

In [18]:
num = int(input("enter a number"))
for n in range(2,num):
    if num % n == 0:
        print(f"{num} not a prime number")
        break
else:
    print(f"{num} is prime number")

5 is prime number

syntax
   while cond:                                        loops
   statement 1                                         /\
   statement 2                                        /  \
   ......                                       finite   infinite
   statement n

In [19]:
x = 50
while x>0:
    print(x, end = ' ')
    x -= 5

50 45 40 35 30 25 20 15 10 5